<div class="container">
	<div class="space">
		<p>
			Miguel Rodriguez is a Sound Recordist, Designer, and Artist based in London. Born in 1985, he started studying music at the age of 9. Since then he has been involved in jazz and classical bands, orchestras, and drum ensembles. He studied composition at the same time and became interested in Sound Arts after taking lectures with composers who experimented in sound. He graduated at the London College of Communication (part of the University of the Arts London) in Sound Arts and Design. Since 2011 he has collaborated with filmmakers, gaining experience both as a sound recordist on set and in postproduction sound as a sound editor, designer, and re-recording mixer. Additionally, he has written and produced two radio programmes, which were broadcast in 2014.
		</p>
		<p>
			Currently, Miguel works regularly with filmmakers in short films, documentaries, adverts, and other productions. His works have been screened at the BFI, film festivals, and De Lane Lea studios. He owns equipment, software, and an extensive sound library.
		</p>
	</div><!-- .space -->
</div><!-- .container -->
