<div class="container">
	<h1>Radio Work</h1>
	<h3>Underground Science City</h3>
	<div class="row feature">
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
			<p>BLACKOUT (Audio Documentary)</p>
			<p>
				Produced by: Miguel Rodriguez
				Written by: M.C Josephson & Miguel Rodriguez
			</p>
			<p>
				Nine moths and 21 days after its grandiose opening, the modern and highly controversial Science City, the largest research facility in the world, experienced a blackout that not only left its entire night staff in darkness, but also put their lives at serious risk. While there is an open investigation which will determine the future of the overwhelmingly large underground structure, this documentary, composed of audio recordings made by said staff on different devices and a recorded police phone call, chooses not to take sides in the heated debate that surrounds the topic and focuses instead on how those trapped that night coped with the situation.
			</p>
			<p>
				A sociological study, Blackout intentionally leaves out not only all comments by people other than those confined in the building that night, but also any afterthought that they might have had once their predicament was over. The intention is, according to its producer, that the audience “sit down in a dark room and feel for 10 minutes the way that all those unfortunate people felt that night for five hours.”
			</p>
			<p>Running time: 10 minutes.</p>

			<p>Cast: Marcus Frewin-Ridley, Elise Whyte, Kristin Duffy, Paula Brett, and Jon Clemens</p>

			<p>Recordings by: Jon Clemens and Miguel Rodriguez</p>

			<p>Editing and mixing: Miguel Rodriguez</p>
		</div><!-- .col-xs-12 col-md-8 -->
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/169865443&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
			<!-- <a href="https://soundcloud.com/m-rodriguez-2/02-underground-science-city-blackout" target="blank"></a> -->
		</div><!-- .col-xs-12 col-sm-4 -->
	</div><!-- .row-feature -->

	<h3>Complex at the Centre of the Universe</h3>
	<div class="row feature">
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/194024946&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
			<!-- <a href="https://soundcloud.com/m-rodriguez-2/complex-at-the-centre-of-the-universe" target="blank"></a> -->
		</div><!-- .col-xs-12 col-sm-4 -->
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
			<p>EXTRAORDINARY CITIES SERIES: COMPLEX AT THE CENTRE OF THE UNIVERSE (Audio Documentary)</p>
			<p>“Solely through sound, an entire environment, complete with memories and emotions, comes alive.”
					Barry Blesser and Linda Salter, Spaces Speak: Are You Listening?</p>
			<p>
				Produced by: Miguel Rodriguez
				Written by: M.C Josephson & Miguel Rodriguez
			</p>
			<p>
				In this first programme of the Extraordinary Cities Series, journalist Anna Jones takes us on a sound walk through the magnificent Complex at the Centre of the Universe. The city, vertical in nature and built upon a 6-acre rock in the middle of the Pacific Ocean, presents us with a unique soundscape, in which the ceaseless traffic background inherent to most horizontal cities in the world is replaced by the roaring of the ocean from all sides. In her journey, Parks visits both the landmarks of the city, such as the Roof Garden and the Ground Floor Garden, and those places its inhabitants go by daily as part of their routine, such as the lift stations and the residential floors.
			</p>
			<p>
				By exploring cities through their soundscapes, the Extraordinary Cities Series attempts to immerse its audience into the dynamic of a place, its movement and its activities in a way a landscape would not be able to accomplish, giving them a unique auditory first impression that would hopefully encourage further exploration. 
			</p>
			<p>Running time: 10 minutes.</p>

			<p>Cast: Elise Whyte, Paula Brett, Jon Clemens, and Marcus Frewin-Ridley</p>

			<p>Recordings by: Jon Clemens and Miguel Rodriguez</p>

			<p>Editing and mixing: Miguel Rodriguez</p>
		</div><!-- .col-xs-12 col-md-8 -->
	</div><!-- .row-feature -->
</div><!-- .container -->

