<div class="container">
	<div class="row feature">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    	<div class="grid-of-images">
	      <div class="lightbox">
	        <a href="/images/1.jpg" title="Caption 1"><img src="/images/thumb-1.jpg"></a>
	        <a href="/images/2.jpg" title="Caption 2"><img src="/images/thumb-2.jpg"></a>
	        <a href="/images/3.jpg" title="Caption 3"><img src="/images/thumb-3.jpg"></a>
	        <a href="/images/4.jpg" title="Caption 4"><img src="/images/thumb-4.jpg"></a>
	        <a href="/images/5.jpg" title="Caption 5"><img src="/images/thumb-5.jpg"></a>
	        <a href="/images/6.jpg" title="Caption 6"><img src="/images/thumb-6.jpg"></a>
	        <a href="/images/7.jpg" title="Caption 7"><img src="/images/thumb-7.jpg"></a>
	        <a href="/images/8.jpg" title="Caption 8"><img src="/images/thumb-8.jpg"></a>
	        <a href="/images/9.jpg" title="Caption 9"><img src="/images/thumb-9.jpg"></a>
	      </div>
    	</div>
    </div>
  </div>
</div>
