<div class="container">
	<div>
		<p>Grid of Images</p>
	</div>
	 <div class="row feature">
    <div class="grid-of-images">
      <div class="lightbox">
        <a href="/images/20131110-153426.jpg" title="Caption 1"><img src="/images/thumb-20131110-153426.jpg"></a>
        <a href="/images/20131110-155741.jpg" title="Caption 2"><img src="/images/thumb-20131110-155741.jpg"></a>
        <a href="/images/pyrenees.jpg" title="Caption 3"><img src="/images/thumb-pyrenees.jpg"></a>
        <a href="/images/tanzania-kilimanjaro.jpg" title="Caption 4"><img src="/images/thumb-tanzania-kilimanjaro.jpg"></a>
        <a href="/images/fishing.jpg" title="Caption 5"><img src="/images/thumb-fishing.jpg"></a>
        <a href="/images/taj-mahal.jpg" title="Caption 6"><img src="/images/thumb-taj-mahal.jpg"></a>
        <a href="/images/machu-picchu-sunrise.jpg" title="Caption 7"><img src="/images/thumb-machu-picchu-sunrise.jpg"></a>
        <a href="/images/austria.jpg" title="Caption 8"><img src="/images/thumb-austria.jpg"></a>
        <a href="/images/tanzania-zebras.jpg" title="Caption 9"><img src="/images/thumb-tanzania-zebras.jpg"></a>
        <a href="/images/alaska-sea-kayak.jpg" title="Caption 10"><img src="/images/thumb-alaska-sea-kayak.jpg"></a>
        <a href="/images/town.jpg" title="Caption 11"><img src="/images/thumb-town.jpg"></a>
        <a href="/images/venezia.jpg" title="Caption 12"><img src="/images/thumb-venezia.jpg"></a>
      </div>
    </div>
  </div>
</div>
