<div class="container anchor" id="about">
  <div class="space">
  <h2>About</h2>
    <p>
      Miguel Rodriguez is a Sound Recordist, Designer, and Artist based in London. Born in 1985, he started studying music at the age of 9. Since then he has been involved in jazz and classical bands, orchestras, and drum ensembles. He studied composition at the same time and became interested in Sound Arts after taking lectures with composers who experimented in sound. He graduated at the London College of Communication (part of the University of the Arts London) in Sound Arts and Design. Since 2011 he has collaborated with filmmakers, gaining experience both as a sound recordist on set and in postproduction sound as a sound editor, designer, and re-recording mixer. Additionally, he has written and produced two radio programmes, which were broadcast in 2014.
    </p>
    <p>
      Currently, Miguel works regularly with filmmakers in short films, documentaries, adverts, and other productions. His works have been screened at the BFI, film festivals, and De Lane Lea studios. He owns equipment, software, and an extensive sound library.
    </p>
    <p>
      Skilled Sound Recordist and Designer experienced in film, advertising, and corporate productions, with ample knowledge of film, and production and post-production sound. Great at team based work environments with great communication skills. I am a dedicated and detail orientated person, proactive and with initiative. Interested in learning and gaining new knowledge and skills.
    </p>
  </div><!-- .space -->
</div><!-- .container -->

<div class="container anchor" id="profile">
  <h2>Team members</h2>
  <div class="row feature">
    <div class="col-xs-1 col-sm-6 col-md-6 col-lg-6">
      <div class="profile">
        <a href="profile1">
          <img src="/images/profile1.jpg" width="240px" height="240px">
        </a>
        <h4>Miguel Rodriguez</h4>
        <p>Skilled Sound Recordist and Designer experienced in film, advertising, and corporate productions, with ample knowledge of film, and production and post-production sound.</p>
      </div>
    </div>
    <div class="col-xs-1 col-sm-6 col-md-6 col-lg-6">
      <div class="profile">
        <a href="">
          <img src="/images/profile1.jpg" width="240px" height="240px">   
        </a>
        <h4>Miguel Rodriguez</h4>
        <p>Skilled Sound Recordist and Designer experienced in film, advertising, and corporate productions, with ample knowledge of film, and production and post-production sound.</p>
      </div>
    </div>
  </div>
</div>