<div class="container">
	<div class="title">
		<h1>Film Work</h1>
	</div>
	<div class="row feature">
		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
			<div class="responsive-container">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/hEeFNdFDIuo" frameborder="0" allowfullscreen></iframe>
			</div>
		</div><!-- .col-xs-12 col-md-3 -->
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
			<p>
				These are extracts of some of the films in which Miguel Rodriguez worked as a sound designer.
			</p>
			<p>
				- In 1) the sound design illustrates the extremely stressful situation in which the main character lives. The director wanted the audience to understand that taking care of her mother was a burden that made the character feel trapped, drowning.
			</p>
			<p>
				- In 2) the emphasis is in the quiet sounds the characters make as they become intimate for the first time. The director wanted the audience to feel uncomfortably close to them.
			</p>
			<p>
				- In 3) the character daydreams of a better, more interesting life, as she feels suffocated by her routine as a housewife. These dreams are conveyed mainly through sound.
			</p>
			<p>
				- 4) is a fragment of a radio mockumentary about a blackout in an underground city. The story is brought to us through recordings made by the characters during the incident with different devices. The piece, which can be heard in full in the Radio Work section, was produced, written, edited, and mixed by Miguel Rodriguez. 
			</p>
		</div><!-- .cold-xs-12 col-sm-7 -->
	</div><!-- .row feature -->	

	<table class="distribute">
		<th colspan="4"><h3>Selected Film Credits</h3></th>
		<tr>
			<td>2015</td>
			<td>Sound Recordist Film (Short)</td>
			<td>Glimpse Of A Chance Alec Christie</td>
			<td>SteelReels</td>
		</tr>
		<tr>
			<td>2014 - 2015</td>
			<td>Sound Recordist, Sound Designer Film (Short)</td>
			<td><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=104781" target="blank">My Best Friend Megan K. Fox</td>
			<td><a href="http://www.filmandtvpro.com/uk/cview.php?uid=104609" target="blank">MET. Film School</a></td>
		</tr>
		<tr>
			<td>2015</td>
			<td>Sound Recordist Film (Short)</td>
			<td><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=94261" target="blank">After The Party</a> Emma Nan-Hu</td>
			<td>Yi Studio</td>
		</tr>
		<tr>
			<td>2014</td>
			<td>Sound Recordist Film (Short)</td>
			<td><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=89790" target="blank">Leap Of Faith</a> Dominic Ryan</td>
			<td>Carrot Top Productions</td>
		</tr>
		<tr>
			<td>2014</td>
			<td>Sound Recordist Film (Short)</td>
			<td><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=89791" target="blank">The Christmas</a> Party Dominic Ryan</td>
			<td>Space Bound</td>
		</tr>
		<tr>
			<td>2014</td>
			<td>Sound Recordist Film (Short)</td>
			<td><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=85438" target="blank">Black 2 Sugars</a> Jane Alexandra Foster</td>
			<td><a href="http://www.filmandtvpro.com/uk/cview.php?uid=910" target="blank">23 Films</a></td>
		</tr>
		<tr>
			<td>2014</td>
			<td>Sound Recordist Commercial</td>
			<td>La figuraccia di un italiano in colloquio a Londra Simone Marcagni</td>
			<td><a href="http://www.filmandtvpro.com/uk/cview.php?uid=115398" target="blank">Scuola Internazionale di lingue</a></td>
		</tr>
		<tr>
			<td>2014</td>
			<td>Sound Designer Film (Short)</td>
			<td><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=94279" target="blank">The Things I Do For You</a> Thomas Sidali</td>
			<td>On Paper Productions</td>
		</tr>
		<tr>
			<td>2014</td>
			<td>Sound Recordist, Sound designer Film (Short)</td>
			<td><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=93660" target="blank">When I Was A Teenage Whore</a> Georgia Fleury Reynolds</td>
			<td><a href="http://www.filmandtvpro.com/uk/cview.php?uid=8286" target="blank">WAL</a></td>
		</tr>
		<tr>
			<td>2013</td>
			<td>Sound Recordist Film (Short)</td>
			<td><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=99206" target="blank">Buzzkill</a> Mahmut Marmut</td>
			<td>Worn and Torn Films</td>
		</tr>
		<tr>
			<td>2013</td>
			<td>Sound Designer Film (Short)</td>
			<td><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=99204" target="blank">Madame Carey</a></td>
			<td><a href="http://www.filmandtvpro.com/uk/cview.php?uid=2389" target="blank">LCC</a></td>
		</tr>
		<tr>
			<td>2013</td>
			<td>Sound Recordist, Sound designer Film (Short)</td>
			<td><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=99205" target="blank">Mama's Boy</a> Fanny Hoetzeneder</td>
			<td><a href="http://www.filmandtvpro.com/uk/cview.php?uid=2389" target="blank">LCC</a></td>
		</tr>
		<tr>
			<td>2011 - 2013</td>
			<td>Sound Recordist TV</td>
			<td><a href="http://www.filmandtvpro.com/uk/tvshow_view.php?uid=1869" target="blank">Persona</a></td>
			<td><a href="http://www.filmandtvpro.com/uk/cview.php?uid=8717" target="blank">App Media</a></td>
		</tr>
	</table>
</div><!-- .container -->