<h1>Film Work</h1>
<!-- <p>Find me in app/views/pages/video.html.erb</p> -->


<div>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/hEeFNdFDIuo" frameborder="0" allowfullscreen></iframe>
</div>


<div>
	<p>
		These are extracts of some of the films in which Miguel Rodriguez worked as a sound designer.
		- In 1) the sound design illustrates the extremely stressful situation in which the main character lives. The director wanted the audience to understand that taking care of her mother was a burden that made the character feel trapped, drowning.
		- In 2) the emphasis is in the quiet sounds the characters make as they become intimate for the first time. The director wanted the audience to feel uncomfortably close to them. 
		- In 3) the character daydreams of a better, more interesting life, as she feels suffocated by her routine as a housewife. These dreams are conveyed mainly through sound.
		- 4) is a fragment of a radio mockumentary about a blackout in an underground city. The story is brought to us through recordings made by the characters during the incident with different devices. The piece, which can be heard in full in the Radio Work section, was produced, written, edited, and mixed by Miguel Rodriguez. 
	</p>

</div>

<div>
	<table class="distribute">
		<th colspan="4">Selected Film Credits</th>
		<tr>
			<td>2015</td>
			<td>Sound Recordist Film (Short)</td>
			<td>Glimpse Of A Chance Alec Christie</td>
			<td>SteelReels</td>
		</tr>
		<tr>
			<td>2014 - 2015</td>
			<td>Sound Recordist, Sound Designer Film (Short)</td>
			<td><a href="http://www.filmandtvpro.com/uk/film_view.php?uid=104781" target="blank">My Best Friend Megan K. Fox</td>
			<td><a href="http://www.filmandtvpro.com/uk/cview.php?uid=104609" target="blank">MET. Film School</a></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
				<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>