<footer>
	<div class='container'>
    <!-- <p>Web Development by <a href="">Antonio Martin</a></p> -->
    <div class="navbar-collapse collapse">
      <ul class="nav footer navbar-nav">
        <li><a href=""><img src="/images/logos/yt.png" width="50px" height="36px" class=""></a>
        <li><a href="http://www.filmandtvpro.com/uk/crew/profile/miguel-rodriguez" target="blank"><img src="/images/logos/ftp.jpeg" width="32px" height="32px"></a>
        <li><a href=""><iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fundefined&color=orange_white&size=32" style="width: 32px; height: 32px;"></iframe></a>
      </ul>
    </div>
	</div>
</footer>

